// Place all the styles related to the Continents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hidden {
  visibility: hidden;
}

.nationlist {
  column-count: 4;
}
li.natborder {
  border-style: solid;
  border-width: 1px;
  list-style-type: none;
}

.nationcorrect {
  background-color: lightgreen;
}

.nationwrong {
  background-color: red;
}

body {
  padding: 30px;
  background-color: lightblue;
}
.contshow{
  font-size: 1.4rem;
}

.entry {
  float: right;
  padding-right: 30%;
}

#goodstatusmessage {
  color: orange;
}
#badstatusmessage {
  color:red;
}
#finishedmessage {
  color:green;
}
